.confirmation-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-card-content {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  padding: 20px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 20px;
  background-color: #fffbf4;
}

.confirmation-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
}

.parking-image {
  width: 100%;
}

.confirmation-card-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 20px;
}

.confirmation-card-table {
  padding-left: 10px;
  padding-top: 5px;
  width: 60%;
  background-color: #fffbf4;
}
.tr-b {
  background-color: #fffbf4;
}

.c-btn-section {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 0px 20px;
  width: 600px;
}

.c-btn-section2 {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 0px 0px;
  width: 600px;
}

.c-btn {
  width: 45%;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.time-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fffbf4;
}

.time-card {
  display: flex;
  align-items: center;
}

.name-style {
  display: flex;
  flex-direction: column;
}
