.dp-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.officerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.officer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: #fffbf4;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.officer-section-one {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.officer-section-second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #f5f0e7;
  height: 30%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.officer-section-second p,
.officer-section-second svg {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.edit,
.view,
.delete,
.assign {
  color: #22283190;
}

.view:hover {
  color: #00bdc7;
}

.edit:hover {
  color: #ffa811;
}

.delete:hover {
  color: #ff4545;
}

.assign:hover {
  color: #00a372;
}

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.officer-form {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #fffbf4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.officer-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.officer-number {
  display: flex;
  margin-right: 5px;
}

.officer-id {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.allocated-parking {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 20px 5px 20px;
}

/* Assign Parking Officer */

.filter {
  display: flex;
  width: 100%;
  justify-content: center;
}

.filter-parking {
  width: 400px;
}

.officer-parking-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-link {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-link.active {
  background-color: #ffa811;
  color: #fff;
  border: 1px solid #ffa811;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin-left: 8px;
  font-size: 14px;
  border-radius: 10px;
  position: absolute;
  background-color: #fffbf4;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.search-results li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.search-results li:hover {
  background-color: #f1f1f1;
}

.parking-search-bar {
  height: 36px;
  background-color: #fffbf4;
  border: none;
  border-radius: 18px;
  font-size: 12px;
  padding-left: 10px;
  min-width: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.parking-search-logo {
  width: 20px;
  height: 20px;
  margin-left: -30px;
}
